// src/components/Quests.module.scss
.traderImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  a {
    width: calc(33.333% - 20px); // Trois éléments par ligne avec un peu d'espace
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; // Hauteur fixe pour tous les cadres

    img {
      max-width: 100%; // Assure que l'image ne dépasse pas du cadre
      max-height: 100%; // Assure que l'image ne dépasse pas de la hauteur fixe
      width: auto;
      height: auto;
      transition: transform 0.3s ease;
      border: 3px solid #ccc; // Cadre autour de l'image

      &:hover {
        transform: scale(1.1);
      }
    }

    &:nth-child(6) img {
      transform: scale(1); // Augmenter la taille du sixième trader sans affecter le cadre

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.factionContainer {
  display: inline;
}
.factionQuests {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin: 5px 0;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.factionLogo {
  width: 10%; // Réduit la taille de l'image de 90%
  min-width: 50px; // Assure une taille minimum
  display: block; // Assure que l'image ne prend pas plus d'espace que nécessaire
  margin: 10px auto; // Centre l'image horizontalement et ajoute une marge
  background-color: #333; // Arrière-plan conditionnel
}

// Appliquer des couleurs d'arrière-plan spécifiques en fonction du thème
.light .factionLogo {
  background-color: #f5f5f5; // Fond clair pour les logos clairs sur mode clair
}

.dark .factionLogo {
  background-color: #333; // Fond sombre pour les logos clairs sur mode sombre
}
