.mapsContainer {
    display: flex;
    flex-direction: column;
    min-height: 80vh; // Hauteur de la vue pour pousser le footer en bas
    align-items: center;
    padding: 20px;
  
    .title {
      margin-top: 20px; // Espace entre le header et le titre
      padding-bottom: 5%;
    }
  
    .mapImage {
      width: 90%;
      max-width: 1820px;
      height: auto;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      margin: 20px 0;
    }
  }
  
  @media (max-width: 768px) {
    .mapsContainer {
      .mapImage {
        max-width: 95%;
      }
    }
  }
  