// MapDetail.module.scss

.mapContainer {
  max-width: 800px; // Limite la largeur pour une meilleure lisibilité
  margin: 20px auto; // Centre le conteneur sur la page
  padding: 20px; // Ajoute un espace autour du texte
  border-radius: 8px; // Bords arrondis pour un style moderne
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); // Ombre légère pour du relief

  h1, h2 {
      color: inherit; // Hérite la couleur du parent
      margin-bottom: 0.5em; // Espace sous les en-têtes
  }

  h2 {
      margin-top: 2em; // Espace au-dessus des sous-titres pour séparer les sections
  }

  p {
      text-indent: 20px; // Indente les paragraphes pour une meilleure distinction
      margin-bottom: 1em; // Espace sous chaque paragraphe
      line-height: 1.6; // Espacement des lignes pour une meilleure lisibilité
      font-size: 1em; // Taille de police standard
  }
}

// Styles spécifiques pour le mode sombre
.dark .mapContainer {
  background: #333; // Fond plus sombre pour le mode sombre
  color: #fff; // Texte clair pour le mode sombre
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1); // Ombre plus claire pour le mode sombre
}

// Styles spécifiques pour le mode clair
.light .mapContainer {
  background: #f5f5f5; // Fond clair pour le mode clair
  color: #333; // Texte foncé pour le mode clair
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Ombre plus foncée pour le mode clair
}
